---
layout: default
title: Home
---
<main id="main" class="site-main">

{% if page.url == "/" %}
<div class="hero inner">
    <p class="hero-text">{{ site.author.greetings }}</p>
</div>        
{% endif %}

{% if page.url == "/" %}
<!-- Featured -->
<div id="featured-posts" class="featured-posts">
    {% for post in site.posts limit: 4 %}
    {% if post.featured == true %}
    {% include featuredbox.html %}
    {% endif %}
    {% endfor %}
</div>

<!-- Latest Articles -->
<div class="post-feed inner">
    <div class="post-feed-title">Latest Articles</div>
    <div class="post-feed inner-wide">
        {% for post in paginator.posts %}
            {% include postbox.html %}
        {% endfor %}
    </div>
</div>
<!-- Pagination -->
{% include pagination.html %}
{% if site.mailchimp_url %}
    {% include newsletter-box.html %}
{% endif %}
</main>
